<div class="app-container">
  <header>
    <h1>{{ title }}</h1>
    <p>Clean Architecture with Angular 18+ Signals</p>
  </header>

  <main>
    <!--<app-change-detection-lab></app-change-detection-lab>-->
    <app-observable-lab></app-observable-lab>
    <app-product-list></app-product-list>
   <!-- <app-lifecycle-visualizer [triggerSignal]="triggerSignal"></app-lifecycle-visualizer>-->
  </main>

  <footer>
    <p>Product Management System &copy; 2026</p>
  </footer>
</div>

<router-outlet />
